<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <title>Kaizen404 Comments</title>
</head>
<body>
    <div class="cc-container">
        <div class="cc-wrapper">
            <h1>Comments</h1>
            <form class="cc-form" id = "cc-form-id">
                <textarea name="text" id="cc-text" cols="30" rows="10"></textarea>
                <button type="submit">Post</button>
            </form>

            <ul id = "cc-comment-list" data-id = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6InRoaXMtaXMtbXktdG9rZW4iLCJpYXQiOjE2MDQ3NjgwNDF9.jPk_2qG-m77Pw1Fx162g6SxJDKNH8m5sPdYCAPK3JSE">

            </ul>
            <div id="cc-loader">
                <div  class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript" src="/js/index.js"></script>
</html>